# Introducción a SQL y Pandas

In [ ]:
import numpy as np
import pandas as pd
import sqlite3

## Método para obtener los datos de una consulta (Importante)

Se obtienen todas filas de una consulta (Query) en un DataFrame

In [ ]:
def get_data(cursor):
  # Obtener cada fila almacenados en una lista
  all_rows = cursor.fetchall() # todas las filas de la tabla (lista)
  print(all_rows)

  # Obtener los nombres de cada columna
  column_names = [description[0] for description in cursor.description]

  # Construimos nuestro DataFrame
  df = pd.DataFrame(data=all_rows, columns = column_names)

  # Crear un DataFrame sin indices
  blankIndex=[''] * len(df)
  df.index=blankIndex

  return df

## Creación de la Base de Datos (Importante)

Se usará una base de datos **Sqlite**

In [ ]:
conn = sqlite3.connect('baseEmpresas.db') ## base de datos temporal
# En el caso de no existir se creará la base de datos
print("Conexión a la base de datos exitosa!!")
conn.close()

Conexión a la base de datos exitosa!!

In [ ]:
!ls

baseEmpresas.db  sample_data

La creación de la base de datos de esa manera no será persistente, usar Google Drive

## Acceso Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls drive/MyDrive/Colab\ Notebooks/dip

datascience  dip-ba-2022.gsheet  ml  python  vision

In [ ]:
#ruta = "/content/drive/MyDrive/Colab Notebooks/bdatos/"
ruta = "/content/drive/My Drive/Colab Notebooks/dip/ml/sqlite-pandas/"

Acceso Persistente Base de Datos

In [ ]:
import sqlite3

conn = sqlite3.connect(ruta+'BDEmpresas.db') ## base de datos persistente
# En el caso de no existir se creará la base de datos
print("Conexión a la base de datos exitosa!!")
conn.close()

Conexión a la base de datos exitosa!!

## Crear una tabla (Importante)

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db') # conectar

with conn:
  conn.execute('''
      CREATE TABLE EMPLEADO
      (ID       INT   PRIMARY KEY NOT NULL,
       NOMBRE   TEXT              NOT NULL,
       EDAD     INT               NOT NULL,
       CIUDAD   CHAR(50),
       SUELDO   REAL) ''')

conn.close()
print("Creación de tabla exitosa!!")

Creación de tabla exitosa!!

## Insertar Valores en una Tabla (INSERT INTO)

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  #conn.execute("INSERT INTO EMPLEADO_ANT (ID, NOMBRE, EDAD, CIUDAD, SUELDO) VALUES (10, 'Pedro',   30, 'Arequipa', 3000)")
  conn.execute("INSERT INTO EMPLEADO (ID, NOMBRE, EDAD, CIUDAD, SUELDO) VALUES (1, 'Juan', 30, 'Arequipa', 2000)")
  conn.execute("INSERT INTO EMPLEADO (ID, NOMBRE, EDAD, CIUDAD, SUELDO) VALUES (2, 'Maria',   40, 'Arequipa', 5000)")
  conn.execute("INSERT INTO EMPLEADO (ID, NOMBRE, EDAD, CIUDAD, SUELDO) VALUES (3, 'Alejandro',  23, 'Arequipa', 1000)")
  conn.execute("INSERT INTO EMPLEADO (ID, NOMBRE, EDAD, CIUDAD, SUELDO) VALUES (4, 'Marcos', 30, 'Arequipa', 3000)")
  conn.execute("INSERT INTO EMPLEADO (ID, NOMBRE, EDAD, CIUDAD, SUELDO) VALUES (5, 'Enzo',  30, 'Arequipa', 3000)")

conn.close()
print("Registros creados exitosamente!!!")

Registros creados exitosamente!!!

Otra alternativa, mas corta:

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  conn.execute("INSERT INTO EMPLEADO VALUES (6, 'Livia', 35, 'Lima', 3500)")
  conn.execute("INSERT INTO EMPLEADO VALUES (7, 'Peter', 38, 'Puno', 3000)")
  conn.execute("INSERT INTO EMPLEADO VALUES (8, 'Jorge', 25, 'Tacna', 2500)")

conn.close()
print("Registros creados exitosamente!!")

Registros creados exitosamente!!

Ver los datos almacenados

In [ ]:
conn   = sqlite3.connect(ruta+'BDEmpresas.db')
cursor = conn.execute("SELECT * FROM EMPLEADO")
cursor

In [ ]:
df = get_data(cursor)

conn.close()
print("Operation done successfully")

[(1, 'Pedro', 30, 'Arequipa', 3000.0), (2, 'Juan', 30, 'Arequipa', 2000.0), (3, 'Maria', 40, 'Arequipa', 5000.0), (4, 'Alejandro', 23, 'Arequipa', 1000.0), (5, 'Marcos', 30, 'Arequipa', 3000.0), (6, 'Enzo', 30, 'Arequipa', 3000.0), (7, 'Luis', 45, 'Lima', 4500.0), (8, 'Karen', 38, 'Puno', 7000.0)]
Operation done successfully

In [ ]:
df.head()

  ID     NOMBRE  EDAD    CIUDAD  SUELDO
   1      Pedro    30  Arequipa  3000.0
   2       Juan    30  Arequipa  2000.0
   3      Maria    40  Arequipa  5000.0
   4  Alejandro    23  Arequipa  1000.0
   5     Marcos    30  Arequipa  3000.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries,  to
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8 non-null      int64
 1   NOMBRE  8 non-null      object
 2   EDAD    8 non-null      int64
 3   CIUDAD  8 non-null      object
 4   SUELDO  8 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 384.0+ bytes

In [ ]:
df.describe()

            ID      EDAD       SUELDO
count  8.00000   8.00000     8.000000
mean   4.50000  31.37500  2875.000000
std    2.44949   5.95069  1157.275125
min    1.00000  23.00000  1000.000000
25%    2.75000  28.75000  2375.000000
50%    4.50000  30.00000  3000.000000
75%    6.25000  35.75000  3125.000000
max    8.00000  40.00000  5000.000000

### Cambiar nombre de Tabla

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  conn.execute("ALTER TABLE EMPLEADO RENAME TO EMPLEADO_MOD")

conn.close()
print("Operacion realizada exitosamente!!!")

### Agregar una Columna

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  cursor = conn.execute("ALTER TABLE EMPLEADO_MOD ADD COLUMN SEXO char(1)")

conn.close()
print("Operacion realizada satisfactoriamente!!")

Operacion realizada satisfactoriamente!!

Ahora visualizamos los datos

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

cursor = conn.execute("SELECT * FROM EMPLEADO_MOD")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

[(1, 'Juan', 30, 'Arequipa', 2000.0, None), (2, 'Maria', 40, 'Arequipa', 5000.0, None), (3, 'Alejandro', 23, 'Arequipa', 1000.0, None), (4, 'Marcos', 30, 'Arequipa', 3000.0, None), (5, 'Enzo', 30, 'Arequipa', 3000.0, None), (6, 'Livia', 35, 'Lima', 3500.0, None), (7, 'Peter', 38, 'Puno', 3000.0, None), (8, 'Jorge', 25, 'Tacna', 2500.0, None)]
Operation done successfully

  ID     NOMBRE  EDAD    CIUDAD  SUELDO  SEXO
   1       Juan    30  Arequipa  2000.0  None
   2      Maria    40  Arequipa  5000.0  None
   3  Alejandro    23  Arequipa  1000.0  None
   4     Marcos    30  Arequipa  3000.0  None
   5       Enzo    30  Arequipa  3000.0  None
   6      Livia    35      Lima  3500.0  None
   7      Peter    38      Puno  3000.0  None
   8      Jorge    25     Tacna  2500.0  None

### Eliminar Tabla (DROP TABLE)

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  conn.execute("DROP TABLE IF EXISTS EMPLEADO_MOD")

conn.close()
print("Eliminación de table exitosa!!")

Eliminación de table exitosa!!

Ahora visualizamos los datos

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

cursor = conn.execute("SELECT * FROM EMPLEADO_MOD")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

OperationalError: no such table: EMPLEADO_MOD

## AUTOINCREMENT

Crear una TABLA llamada EMPLEADO haciendo que la clave (PRIMARY KEY) se inserte e incremente automáticamente.

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  conn.execute('''
    CREATE TABLE USUARIO
    (
      ID        INTEGER    PRIMARY KEY AUTOINCREMENT,
      NOMBRE    TEXT       NOT NULL,
      EDAD      INT        NOT NULL,
      CIUDAD    CHAR(50),
      SUELDO    REAL
    )
    ''')

conn.close()
print("Creación de tabla exitosa!!")

Creación de tabla exitosa!!

### Insertar Información sin indicar Primary Key

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  # INSER INTO [NOMBRE DE LA TABLA] (var1,var2,...,varn) VALUES (val1, val2, ...,valn)
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES ('Pedro',   30, 'Arequipa', 3000)")
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES ('Juan', 30, 'Arequipa', 2000)")
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES ('Maria',   40, 'Arequipa', 5000)")
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES ('Alejandro',  23, 'Arequipa', 1000)")
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES ('Marcos', 30, 'Arequipa', 3000)")
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES ('Enzo',  30, 'Arequipa', 3000)")

conn.close()
print("Registros creados exitosamente!!!")

Registros creados exitosamente!!!

In [ ]:
def insertar(n, e, c, s):
  conn = sqlite3.connect(ruta+'BDEmpresas.db')

  with conn:
    # INSER INTO [NOMBRE DE LA TABLA] (var1,var2,...,varn) VALUES (val1, val2, ...,valn)
    conn.execute(f"INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES ('{n}',{e},'{c}',{s})")

  conn.close()
  print("Registros creados exitosamente!!!")

In [ ]:
insertar("Luis",45,"Lima",4500)

Registros creados exitosamente!!!

In [ ]:
def insertar_datos():
  nombre = input("Nombre: ")
  edad = int(input("Edad: "))
  ciudad = input("Ciudad: ")
  sueldo = float(input("Sueldo: "))

  insertar(nombre, edad, ciudad, sueldo)

In [ ]:
insertar_datos()

Nombre: Karen
Edad: 34
Ciudad: Lima
Sueldo: 4999
Registros creados exitosamente!!!

Ver datos:

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

cursor = conn.execute("SELECT * FROM EMPLEADO")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

[(1, 'Pedro', 30, 'Arequipa', 3000.0), (2, 'Juan', 30, 'Arequipa', 2000.0), (3, 'Maria', 40, 'Arequipa', 5000.0), (4, 'Alejandro', 23, 'Arequipa', 1000.0), (5, 'Marcos', 30, 'Arequipa', 3000.0), (6, 'Enzo', 30, 'Arequipa', 3000.0), (7, 'Luis', 45, 'Lima', 4500.0), (8, 'Karen', 38, 'Puno', 7000.0), (9, 'Luis', 45, 'Lima', 4500.0), (10, 'Karen', 34, 'Lima', 4999.0)]
Operation done successfully

  ID     NOMBRE  EDAD    CIUDAD  SUELDO
   1      Pedro    30  Arequipa  3000.0
   2       Juan    30  Arequipa  2000.0
   3      Maria    40  Arequipa  5000.0
   4  Alejandro    23  Arequipa  1000.0
   5     Marcos    30  Arequipa  3000.0
   6       Enzo    30  Arequipa  3000.0
   7       Luis    45      Lima  4500.0
   8      Karen    38      Puno  7000.0
   9       Luis    45      Lima  4500.0
  10      Karen    34      Lima  4999.0

In [ ]:
!ls drive

MyDrive  Shareddrives

In [ ]:
df.to_excel(ruta+"empleados.xlsx", sheet_name="EMPLEADOS", index=False)

# Formularios en Colab

In [ ]:
x = 254 #@param {type: 'integer'}
y = 18 #@param {type: 'integer'}

print(x + y)

907

### Ejercicio:

Recibir $x$ y $y$ y calcular $xy+x^2$.

In [ ]:
x = 2 #@param {type: 'integer'}
y = 5 #@param {type: 'integer'}

print(x*y + x*x)

14

In [ ]:
#@title Introducir Datos de un Empleado.

Nombre =   'Jose' #@param {type:"string"}
Edad =   35#@param {type: 'integer'}
Ciudad =  'Lima' #@param ["Arequipa", "Lima", "Cusco", "Puno", "Moquegua"]
Sueldo =  9000#@param {type: 'integer'}

Ingresando datos

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES(?,?,?,?)",(Nombre, Edad, Ciudad, Sueldo))
conn.close()
print("Registro creado exitosamente!!")

Registro creado exitosamente!!

Visualizar

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

cursor = conn.execute("SELECT * FROM EMPLEADO")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

[(1, 'Pedro', 30, 'Arequipa', 3000.0), (2, 'Juan', 30, 'Arequipa', 2000.0), (3, 'Maria', 40, 'Arequipa', 5000.0), (4, 'Alejandro', 23, 'Arequipa', 1000.0), (5, 'Marcos', 30, 'Arequipa', 3000.0), (6, 'Enzo', 30, 'Arequipa', 3000.0), (7, 'Luis', 45, 'Lima', 4500.0), (8, 'Karen', 38, 'Puno', 7000.0), (9, 'Luis', 45, 'Lima', 4500.0), (10, 'Karen', 34, 'Lima', 4999.0), (11, 'Jose', 35, 'Lima', 9000.0)]
Operation done successfully

  ID     NOMBRE  EDAD    CIUDAD  SUELDO
   1      Pedro    30  Arequipa  3000.0
   2       Juan    30  Arequipa  2000.0
   3      Maria    40  Arequipa  5000.0
   4  Alejandro    23  Arequipa  1000.0
   5     Marcos    30  Arequipa  3000.0
   6       Enzo    30  Arequipa  3000.0
   7       Luis    45      Lima  4500.0
   8      Karen    38      Puno  7000.0
   9       Luis    45      Lima  4500.0
  10      Karen    34      Lima  4999.0
  11       Jose    35      Lima  9000.0

In [ ]:
#@title Introducir Datos de un Empleado (Importante)

Nombre = 'Carlos' #@param {type:"string"}
Edad   =  45#@param {type: 'integer'}
Ciudad =  'Moquegua' #@param ["Arequipa", "Lima", "Cusco", "Puno", "Moquegua"]
Sueldo =  7000#@param {type: 'integer'}

conn = sqlite3.connect(ruta+'BDEmpresas.db')

with conn:
  conn.execute("INSERT INTO EMPLEADO (NOMBRE, EDAD, CIUDAD, SUELDO) VALUES(?,?,?,?)",(Nombre, Edad, Ciudad, Sueldo))
conn.close()
print("Registro creado exitosamente!!")

Registro creado exitosamente!!

Ver los datos almacenados

In [ ]:
conn = sqlite3.connect(ruta+'BDEmpresas.db')

cursor = conn.execute("SELECT * FROM EMPLEADO")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

[(1, 'Pedro', 30, 'Arequipa', 3000.0), (2, 'Juan', 30, 'Arequipa', 2000.0), (3, 'Maria', 40, 'Arequipa', 5000.0), (4, 'Alejandro', 23, 'Arequipa', 1000.0), (5, 'Marcos', 30, 'Arequipa', 3000.0), (6, 'Enzo', 30, 'Arequipa', 3000.0), (7, 'Luis', 45, 'Lima', 4500.0), (8, 'Karen', 38, 'Puno', 7000.0), (9, 'Luis', 45, 'Lima', 4500.0), (10, 'Karen', 34, 'Lima', 4999.0), (11, 'Jose', 35, 'Lima', 9000.0), (12, 'Juan', 60, 'Puno', 8000.0), (13, 'Carlos', 45, 'Moquegua', 7000.0)]
Operation done successfully

  ID     NOMBRE  EDAD    CIUDAD  SUELDO
   1      Pedro    30  Arequipa  3000.0
   2       Juan    30  Arequipa  2000.0
   3      Maria    40  Arequipa  5000.0
   4  Alejandro    23  Arequipa  1000.0
   5     Marcos    30  Arequipa  3000.0
   6       Enzo    30  Arequipa  3000.0
   7       Luis    45      Lima  4500.0
   8      Karen    38      Puno  7000.0
   9       Luis    45      Lima  4500.0
  10      Karen    34      Lima  4999.0
  11       Jose    35      Lima  9000.0
  12       Juan    60      Puno  8000.0
  13     Carlos    45  Moquegua  7000.0

## Ejercicio:

Crear una base de datos nueva. O modificar la existente con los integrantes del grupo.