<a href="https://colab.research.google.com/github/galeonkil/progr/blob/master/s2_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ¿Como funciona Python?

Existen algunas cosas que tenemos que tener en cuenta antes de empezar a programar en Python. En esta clase estudiaremos algunos aspectos a tener en cuenta en Python.

## Las mayúsculas no son iguales a las minúsculas

In [ ]:
nombre = "Juan"
print(nombre)

Juan

In [ ]:
print(Nombre)

NameError: ignored

## ¡Los espacios importan!

In [ ]:
print(3 + 2)
 print(3 + 3) # Aqui se suman dos numeros

IndentationError: ignored

## Comentarios en Python

Eventualmente nuestro código será cada vez más grande, entonces será dificil de entenderlo. Es aquí cuando los comentarios toman importancia. Los comentarios son una manera de agregar notas a nuestro código de modo que cualquiera que lo revise tendrá una idea que esta haciendo cada parte.

Siempre que el una linea de código comience con '#', la ejecución se omitirá.

In [ ]:
# Esto es un comentario

Para introducir multiples lineas de comentarios tenemos que utilizar '#' en cada linea. La tripe comilla **no es es un comentario**.

In [ ]:
# Esto es la primera linea
# Esta es la segunda
# Y esta es la tercera linea de comentario

In [ ]:
x = """Esto no es un comentario, es un 'string'.
      QWEQWE
      QWEQWE
      QWEEQDQ
      Y es to tambien"""

print(x)

Esto no es un comentario, es un 'string'.
      QWEQWE
      QWEQWE
      QWEEQDQ
      Y es to tambien

In [ ]:
type(x)

str

Algunos comentarios

In [ ]:
# Declaracion de algunas variables

W, H  = 720, 480            # resolucion de la ventana
media = (100 + 50 + 10) / 3 # el promedio de los tres numeros

# Conversión de tipo de datos

In [ ]:
num = input("Ingrese un numero:")

Ingrese un numero:80

In [ ]:
print(num)

80

In [ ]:
type(num)

str

In [ ]:
print(num + "1")

801

In [ ]:
print(int(num) + 1)

81

El método $\texttt{int(arg, base)}$ convierte cualquier tipo de dato a un entero. $\texttt{arg}$ es la *cadena* a convertir y $\texttt{base}$ indica la base en la cual esta $\texttt{arg}$.

In [ ]:
int("101", 2)

5

In [ ]:
int("13", 10)

13

In [ ]:
int("13")

13

El método $\texttt{float()}$ convierte cualquier entero a un decimal.

In [ ]:
f = float("255.5") # esto represente un decimal

print(f)

255.5

In [ ]:
type(f)

float

El método $\texttt{str()}$ convierte cualquier tipo de dato en una *cadena*.

In [ ]:
x = str(200)

print(x)

200

In [ ]:
type(x)

str

In [ ]:
print(x + "1")

2001

# Formatos para el método $\texttt{print}$

## Utilizando el simbolo $\texttt{%}$

In [ ]:
c = "F"

In [ ]:
print("La letra",c,"tiene el numero ", 6)

La letra F tiene el numero  6

In [ ]:
print("El alumno %s tiene de nota %.2f, que se redondea a %d"%("Alberto", 19.562, 20))

El alumno Alberto tiene de nota 19.56, que se redondea a 20

In [ ]:
numero = 145.19292192139 # aproximadamente 145.2

#Imprimir "numero = 145.1"

print("numero = %.1f"%(numero))

numero = 145.2

## Utilizando el método $\texttt{format}$

In [ ]:
print("El alumno {:s} tiene de nota {:.2f}, que se redondea a {:d}".format("Alberto", 19.562, 20))

El alumno Alberto tiene de nota 19.56, que se redondea a 20

In [ ]:
print("{0} tiene {1} hermanos".format("El", 10))

El tiene 10 hermanos

In [ ]:
print("{0} es primo de {1}".format("Juan","Pedro"))

Juan es primo de Pedro

In [ ]:
print("{1} es primo de {0}".format("Juan","Pedro"))

Pedro es primo de Juan

In [ ]:
texto = "{0} es primo de {1}"

print(texto.format("Juan", "Pedro"))

Juan es primo de Pedro

In [ ]:
print("Hola" * " " + "Jose")

TypeError: ignored